body {
  margin: 0;
}

h1, p {
	font-family: Arial, Helvetica, sans-serif;
}
#middle {
	position: absolute;
	text-align: center;
	background-color: #fff7c1;
	width: 500px;
	height: 350px;
	margin: auto;
	padding: 20px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.leading {
  height: 240px;
  margin-bottom: 30px;
  padding: 30px;
  color: white;
  background: url('http://hyhu.me/weather/images/heading.jpg') center #333 no-repeat;
  background-size: cover;
  color: white;
  text-shadow: 0px 0px 5px #000;
}

.leading-bigtext {
  /*margin-right: 60px;*/
  font-weight: bold;
  font-size: 60px;
}



.cards {
  max-width: 850px;
  margin: 0 auto 30px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  background-color: #2196F3;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 18px;
  text-align: center;
}